<section id="box" class="card">
  <header class="space-between">
    <h3 >{{post_title}}</h3>
    <h3 >Posted by {{user.username}} on {{post_date}}</h3>
    </header>
  <p>{{post_context}}</p>
</section>