  <div id="box" class="col-8" >
        <h3>Create New Post</h3>
        <form id="post-form">
        <div id="postT">Title</div>
          <input
            class="note-title"
            placeholder=""
            maxlength="20"
            type="text"
          />
          
          <div id="postC">Content</div>
          <textarea class="note-textarea" placeholder=""></textarea>
          <button id="createB" type="submit">Create</button>
          </form>
        </div>
      
      </div>
    </div>
    <script src="./js/create-post.js"></script>