  <div class="col-8" id="box">
        <h3>Create New Post</h3>
        <div id="postT">Title</div>
          <input
            class="note-title"
            placeholder=""
            maxlength="20"
            type="text"
          />
          
          <div id="postC">Content</div>
          <textarea class="note-textarea" placeholder=""></textarea>
          <button id="createB">Create</button>
        </div>
      
      </div>
    </div>